/*
Palette
-------
primary-lighter: #6968d4
primary: #5755d9
primary-darker: #4240d4
mandatory: rosybrown
 */

/* Spectre override */
.form-input:not(:placeholder-shown):invalid {
    border-color: rosybrown;
}

/* General layout */
.contentContainer {
    display: flex;
    justify-content: center;
    margin: 0em 1em 0em 1em;
}

.contentItem {
    flex-grow: 1;
    max-width: 850px;
}

/* Navigation bar */
.navigationBar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.navigationBarItem {
    font-weight: bold;
    padding: 1em 2em 1em 2em;
}

.navigationBarItem:hover {
    background-color: #6968d4;
}

.navigationBarItem:active {
    background-color: #4240d4;
}