/*
Palette
-------
primary-lighter: #6968d4
primary: #5755d9
primary-darker: #4240d4
secondary-lighter: #f1f1fc
mandatory: rosybrown
 */

/* Spectre override */
.form-input:not(:placeholder-shown):invalid {
    border-color: rosybrown;
}

/* Global elements */
body {
    overflow-y:scroll;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: whitesmoke;
}
*::-webkit-scrollbar-thumb {
    background-color: #9a9adb;
    border-radius: 20px;
    border: 3px solid #f1f1fc;
}


/* Margins */
.marginTop {
    margin-top: 1em;
}

/* General layout */
.contentContainer {
    display: flex;
    justify-content: center;
    margin: 0em 1em 0em 1em;
}

.contentItem {
    flex-grow: 1;
    max-width: 850px;
}

/* Navigation bar */
.navigationBar {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.navigationBarItem {
    font-weight: bold;
    padding: 1em 2em 1em 2em;
}

.navigationBarItem:hover {
    background-color: #6968d4;
}

.navigationBarItem:active {
    background-color: #4240d4;
}

/* Message Card */
.messageCard {
    border: lightgrey solid 2px;
    padding: .5em;
    margin-top: 1em;
}

.messageCardHeader {
    font-size: small;
    font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    margin-bottom: .5em;
}

/* Responsiveness */
@media screen and (max-width: 480px) {
    .navigationBarItem {
        padding: 1em .5em 1em .5em;
    }
}