<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navigation-bar" class="navigationBar bg-primary">
  <span class="navigationBarItem" onclick="handleNavigation('settings')">Settings</span>
  <span class="navigationBarItem" onclick="handleNavigation('compose')">Compose</span>
  <span class="navigationBarItem" onclick="handleNavigation('messages')">Messages</span>
  <script>
    const handleNavigation = (destination) => {
      window.location = '/' + destination
    }
  </script>
</div>

</body>
</html>