<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<script>
  const initMainForm = () => {
    const lastFromPhoneNumber = sessionStorage.getItem('lastFromPhoneNumber')
    const form = document.getElementById("mainForm")
    form.elements.namedItem("fromPhoneNumber").value = lastFromPhoneNumber === null ? '' : lastFromPhoneNumber
    const datesSent = document.getElementsByName("dateSent")
    for (let dateSent of datesSent) {
      const parsedDate = new Date(dateSent.textContent)
      dateSent.textContent = parsedDate.toLocaleString()
    }
  }

  const handleFromPhoneNumberChanged = (fromPhoneNumber) => {
    sessionStorage.setItem('lastFromPhoneNumber', fromPhoneNumber)
  }
</script>

<div th:replace="~{fragments/navigation-bar :: navigation-bar}"></div>
<div th:replace="~{fragments/info :: info}"></div>

<div class="contentContainer">
  <form class="form-group contentItem" id="mainForm" action="/sent" method="get" onsubmit="handleSubmit()">
    <h5 class="marginTop">Messages Sent</h5>

    <label class="form-label" for="fromPhoneNumber">
      From:
      <span class="popover popover-right">
        <span class="label label-rounded label-secondary" style="font-weight: bold; cursor: help;">?</span>
        <div class="popover-container">
          <div class="card">
            <div class="card-body">
              Select a phone number from your Twilio Account to see its sent messages.
            </div>
          </div>
        </div>
      </span>
    </label>
    <select class="form-select" id="fromPhoneNumber" name="fromPhoneNumber" onchange="handleFromPhoneNumberChanged(this.value)" required>
      <option value="">Select a phone number</option>
      <option th:each="phoneNumber: ${phoneNumbers}" th:value="${phoneNumber}" th:text="${phoneNumber}"></option>
    </select><br><br>

    <input class="btn btn-primary" type="submit" value="Show Messages">

    <h5 class="marginTop" th:if="${messagesSent != null}">Displaying The Last <span th:text="${messagesSent.size()}"></span> Messages</h5>
    <div th:each="message : ${messagesSent}">
      <div class="messageCard">
        <div class="messageCardHeader">
          <span>Status: </span><span th:text="${message.getStatus()}"></span> |
          <span>To: </span><span th:text="${message.getTo()}"></span> |
          <span th:if="${message.getErrorCode() != null}">Error Code: </span><span th:text="${message.getErrorCode()}"></span>
          <span>sid: </span><span th:text="${message.getSid()}"></span><br>
          <span>Date Sent: </span><span name="dateSent" th:text="${message.getDateSent()}"></span>
        </div>
        <div th:text="${message.body}"></div>
      </div>
    </div>
  </form>
</div>

<script>
  initMainForm()
</script>

</body>
</html>